In [1]:
import pandas as pd
import numpy as np
from manual_spellchecker import spell_checker

In [2]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [3]:
df = pd.read_csv("..\chocolate.csv")

In [4]:
df

,Index,ref,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,...,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
0,88,75,Amedei,Italy,2006,Blend,Toscano Black,66.0,3.75,4,...,have_cocoa_butter,have_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,red wine,rich cocoa,long,NaN
1,274,48,Bonnat,France,2006,Venezuela,"Maracaibo, El Rosario",75.0,4.00,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,creamy,fatty,floral,NaN
2,275,81,Bonnat,France,2006,Venezuela,Chuao,75.0,4.00,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,creamy,coconut,tang,NaN
3,276,24,Bonnat,France,2006,Blend,"Carribean, Trinite",75.0,3.75,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,spice,woodsy,long lasting,NaN
4,277,32,Bonnat,France,2006,Venezuela,"Ocumare, Puerto Cabello",75.0,3.75,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,sandy,creamy,berry,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2219,1983,2474,Sweetness,Canada,2020,Mexico,Tabasco,74.0,3.00,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,dried fig,earthy,dirty,NaN
2220,2077,2470,Tribe,Canada,2020,Peru,Ucayali,70.0,3.00,2,...,have_not_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,very sandy,spicey,sweet,NaN
2221,2078,2490,Tribe,Canada,2020,Vietnam,"Dak Lak, batch 0A08",70.0,2.75,2,...,have_not_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,tart,sweet,sour,savory
2222,2079,2490,Tribe,Canada,2020,Honduras,"Copan, batch 0A03",70.0,2.75,2,...,have_not_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,woody,sweet,unrefined,NaN
2223,2098,2478,Vaka,Canada,2020,Belize,"Maya Mountain, Toledo, batch 91",74.0,3.50,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,roasted strawberry,bold,NaN,NaN

In [5]:
df.columns

Index(['Index', 'ref', 'company', 'company_location', 'review_date',
       'country_of_bean_origin', 'specific_bean_origin_or_bar_name',
       'cocoa_percent', 'rating', 'counts_of_ingredients', 'beans',
       'cocoa_butter', 'vanilla', 'lecithin', 'salt', 'sugar',
       'sweetener_without_sugar', 'first_taste', 'second_taste', 'third_taste',
       'fourth_taste'],
      dtype='object')

In [6]:
# make df for all words with Index
txt_df = pd.DataFrame(columns=['Index', 'Taste'])

In [7]:
txt_df

Empty DataFrame
Columns: [Index, Taste]
Index: []

In [8]:
first_df = df.loc[df.first_taste.isnull()==False, ['Index','first_taste']]

In [9]:
sec_df = df.loc[df.second_taste.isnull()==False, ['Index','second_taste']]

In [10]:
third_df = df.loc[df.third_taste.isnull()==False, ['Index','third_taste']]

In [11]:
forth_df = df.loc[df.fourth_taste.isnull()==False, ['Index','fourth_taste']]

In [12]:
txt_df = pd.concat([first_df.rename(columns={'first_taste':'Taste'}), sec_df.rename(columns={'second_taste':'Taste'}), third_df.rename(columns={'third_taste':'Taste'}), forth_df.rename(columns={'fourth_taste':'Taste'})], ignore_index=True)

In [13]:
txt_df

      Index     Taste
0        88  red wine
1       274    creamy
2       275    creamy
3       276     spice
4       277     sandy
...     ...       ...
6212   1433     fatty
6213   1453      sour
6214   1508   rubbery
6215   1628      rich
6216   2078    savory

[6217 rows x 2 columns]

In [14]:
txt_df.columns

Index(['Index', 'Taste'], dtype='object')

In [15]:
words_df = pd.DataFrame()
i=0
for index, row in txt_df.iterrows():
    words = row.Taste.split(" ")
    ind = row.Index
    for word in words:
        df2=pd.DataFrame({'Index': ind,'Word': word}, index=[i])        
        words_df = pd.concat([words_df, df2], ignore_index=True, axis =0)
#        words_df.append({'Index': ind,'Word': word},ignore_index = True)
#        words_df.append(row_dict, ignore_index=True)
#    break
#        words_df.append({'Index': ind,'Word': word}, ignore_index = True)

In [16]:
words_df

      Index     Word
0        88      red
1        88     wine
2       274   creamy
3       275   creamy
4       276    spice
...     ...      ...
7528   1433    fatty
7529   1453     sour
7530   1508  rubbery
7531   1628     rich
7532   2078   savory

[7533 rows x 2 columns]

In [17]:
words_df.Word = words_df.Word.str.lower()

In [18]:
# initialize spell check model
ob = spell_checker(words_df, 'Word')

In [19]:
# quick analysis
ob.spell_check()

Analyzing suspected errors

  0%|          | 0/7533 [00:00<?, ?it/s]

Total suspected errors =  353

In [20]:
error_df = pd.DataFrame(ob.get_all_errors())

In [21]:
error_df.rename(columns={0: 'errors'}, inplace=True)

In [22]:
error_grps = pd.DataFrame(error_df.groupby('errors').size(), columns=['Count'])

In [23]:
error_grps.sort_values('Count', ascending=False)

              Count
errors
roasty          208
choco            22
ashey            13
spicey           10
cinamon          10
...             ...
malitol           1
mildy             1
alkalyzed         1
non-descript      1
xl                1

[64 rows x 1 columns]

In [24]:
error_grps.to_csv("error_grps.csv")

In [25]:
corrections = pd.read_csv("error_corrects.csv")
corrections.rename(columns={'errors':'Word'}, inplace = True)

In [26]:
corrections

          Word  Count Corrected
0       roasty    208    roasty
1        choco     22     cocoa
2        ashey     13      ashy
3      cinamon     10  cinnamon
4       spicey     10    spicey
..         ...    ...       ...
59  vanilla(n)      1   vanilla
60          w/      1        w/
61       winey      1      wine
62         wtf      1       wtf
63          xl      1        xl

[64 rows x 3 columns]

In [27]:
merged = pd.merge(words_df, corrections, on="Word", how="left")

In [28]:
# fixed_df = merged[['Index', Word = lambda x: (x.Corrected if x.Corrected != 'NaN' else x.Word, axis=1)]]
merged['final'] = np.where(merged['Corrected'].isnull(), merged['Word'], merged['Corrected'])

In [29]:
merged

      Index     Word  Count Corrected    final
0        88      red    NaN       NaN      red
1        88     wine    NaN       NaN     wine
2       274   creamy    NaN       NaN   creamy
3       275   creamy    NaN       NaN   creamy
4       276    spice    NaN       NaN    spice
...     ...      ...    ...       ...      ...
7528   1433    fatty    NaN       NaN    fatty
7529   1453     sour    NaN       NaN     sour
7530   1508  rubbery    NaN       NaN  rubbery
7531   1628     rich    NaN       NaN     rich
7532   2078   savory    NaN       NaN   savory

[7533 rows x 5 columns]

In [30]:
words_df = merged[['Index','final']]
words_df.rename(columns={'final':'Word'}, inplace = True)
words_df

C:\Users\amber\.conda\envs\mlenv\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      Index     Word
0        88      red
1        88     wine
2       274   creamy
3       275   creamy
4       276    spice
...     ...      ...
7528   1433    fatty
7529   1453     sour
7530   1508  rubbery
7531   1628     rich
7532   2078   savory

[7533 rows x 2 columns]

In [31]:
tastes_df = pd.DataFrame(words_df.groupby('Word').size(), columns=['Count'])
tastes_df

            Count
Word
&               4
accessible      4
acid            1
acidic         37
acidity         9
...           ...
woody          85
wtf             1
xl              1
yellow          1
yogurt          4

[472 rows x 1 columns]

In [32]:
top_words = pd.DataFrame(tastes_df.sort_values(by='Count', ascending =False))

In [33]:
top_words

            Count
Word
cocoa         361
sweet         274
nutty         253
fruit         228
roasty        210
...           ...
cooked          1
rough           1
rounded         1
controlled      1
current         1

[472 rows x 1 columns]

In [34]:
top_words.to_csv("top_words.csv")

In [35]:
df.columns

Index(['Index', 'ref', 'company', 'company_location', 'review_date',
       'country_of_bean_origin', 'specific_bean_origin_or_bar_name',
       'cocoa_percent', 'rating', 'counts_of_ingredients', 'beans',
       'cocoa_butter', 'vanilla', 'lecithin', 'salt', 'sugar',
       'sweetener_without_sugar', 'first_taste', 'second_taste', 'third_taste',
       'fourth_taste'],
      dtype='object')

In [36]:
ratings = df[['Index', 'rating']]

In [37]:
taste_ratings = pd.merge(words_df, ratings, how="left")
taste_ratings

      Index     Word  rating
0        88      red    3.75
1        88     wine    3.75
2       274   creamy    4.00
3       275   creamy    4.00
4       276    spice    3.75
...     ...      ...     ...
7528   1433    fatty    3.50
7529   1453     sour    3.00
7530   1508  rubbery    3.00
7531   1628     rich    3.50
7532   2078   savory    2.75

[7533 rows x 3 columns]

In [38]:
def get_rating_group(taste_ratings):
    if taste_ratings['rating'] >= 4:
        return 4
    elif taste_ratings['rating'] >= 3:
        return 3
    elif taste_ratings['rating'] >= 2:
        return 2
    elif taste_ratings['rating'] >= 1:
        return 1
    else:
        return 0
        
taste_ratings['ratings_group']= taste_ratings['rating'].apply(lambda x: round(x,0))

In [39]:
taste_ratings.head()

   Index    Word  rating  ratings_group
0     88     red    3.75            4.0
1     88    wine    3.75            4.0
2    274  creamy    4.00            4.0
3    275  creamy    4.00            4.0
4    276   spice    3.75            4.0

In [40]:
taste_ratings.to_csv("taste_ratings.csv")

In [41]:
taste_ratings['ratings_group'].value_counts()

3.0    3977
4.0    2869
2.0     683
1.0       4
Name: ratings_group, dtype: int64

In [42]:
# Level 4 top words
taste_ratings.loc[taste_ratings['ratings_group'] == 4]['Word'].value_counts()

cocoa         206
creamy        119
nutty         113
fruit         104
rich           97
             ...
lingering       1
aftertaste      1
less            1
forward         1
rubbery         1
Name: Word, Length: 320, dtype: int64

In [43]:
# Level 3 or 4 top words
taste_ratings.loc[taste_ratings['ratings_group']>=3]['Word'].value_counts()

cocoa        354
nutty        245
sweet        242
fruit        221
roasty       202
            ...
macadamia      1
medley         1
andes          1
crunchy        1
herb           1
Name: Word, Length: 450, dtype: int64

In [44]:
# Level 3 top words
taste_ratings.loc[taste_ratings['ratings_group'] == 3]['Word'].value_counts()

sweet        186
cocoa        148
nutty        132
sour         131
roasty       129
            ...
oddly          1
lavender       1
cigarette      1
butt           1
herb           1
Name: Word, Length: 353, dtype: int64

In [45]:
# Level 2 top words
taste_ratings.loc[taste_ratings['ratings_group'] == 2]['Word'].value_counts()

off           35
sweet         32
vanilla       27
bitter        22
sour          21
              ..
candy-like     1
bold           1
crisp          1
grapes         1
grape          1
Name: Word, Length: 177, dtype: int64

In [46]:
# Level 1 top words
taste_ratings.loc[taste_ratings['ratings_group'] == 1]['Word'].value_counts()

pasty     1
strong    1
off       1
flavor    1
Name: Word, dtype: int64